\#*
.bundle
**/*.db
*~
.#*
.DS_Store
.idea
*.sw*
log/*
db/*.sql
db/*.sqlite3
tmp/*
config/database.yml
rerun.txt
public/images/elements-*.png
public/javascripts/all.js
public/stylesheets/all.css
public/stylesheets/screen.css
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/partials/*
public/stylesheets/section/*
public/stylesheets/shared/*
public/assets/
solr/data/*
coverage/*
